

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  min-height: 100vh;
  width: 70%;
  margin: 0 auto;
}

nav {
  background-color: #e91e63;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #f50057;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

nav a:hover, nav a.active {
  background-color: #c51162;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 20px;
}

.team {
  display: flex;
  justify-content: space-between;
}

.team-member {
  width: 30%;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
}

.team-img {
  width: 200px;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
}

header {
  background-color: #c51162;
  padding: 40px;
  border-radius: 8px;
  color: #fff;
}

header h1 {
  margin: 0;
}

.exchange-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.currency-select {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  font-size: 16px;
}

.amount {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  padding: 15px 30px;
  cursor: pointer;
  background-color: #f50057;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #c51162;
}

.result {
  font-weight: bold;
  margin-top: 30px;
  font-size: 20px;
}

footer {
  margin-top: auto;
  background-color: #c51162;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

/* Add styles for Links in the header */
header a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

header a:hover {
  color: #e0e0e0;
}

/* Additional Styles for Rate.js */
.main-content.crud {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.crud-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crud-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.crud-nav li {
  margin-right: 20px;
}

.crud-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #f50057;
  transition: background-color 0.3s ease;
}

.crud-nav a:hover {
  background-color: #c51162;
}

/* Additional Styles for Read.js */
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  background-color: #f50057;
  color: #fff;
}

.modal, .popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup button {
  padding: 10px;
  background-color: #f50057;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #c51162;
}

/* Dark Mode */
/* src/Home.css */
.home {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #555;
}

h2 {
  color: #f50057;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: left;
  margin-bottom: 10px;
}

.socials {
  margin-top: 20px;
}

.socials a {
  text-decoration: none;
  color: #333;
}

.socials i {
  transition: color 0.3s;
}

.socials i:hover {
  color: #007bff;
}

h3 {
  color: #f50057;
}

.form-control {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 15%;
  margin: auto;
  box-sizing: border-box;
  font-size: 0.9em;
  align-self: auto;
}

.btn-primary {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary, .edit-button {
  background-color: #039124;
  color: #fff;
}

.edit-button {
  margin-right: 5px;
}

.delete-button {
  padding: 10px;
  background-color: #e71000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Common Styles for Create and Update */
.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.btn-primary {
  padding: 15px 30px;
  cursor: pointer;
  background-color: #f50057;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #c51162;
}

/* Additional Styles for Create.js */
.success-message {
  color: #4caf50;
}

/* Additional Styles for Update.js */
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.popup button {
  padding: 10px;
  background-color: #f50057;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #c51162;
}


/* Styles for Search Form */
.search-form {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  width: 60%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #2196f3; /* Blue color for the search button */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #1565c0; /* Darker blue color on hover */
}

/* Add this to your existing CSS file or update it accordingly */

.currency-select-container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.exchange-button {
  padding: 15px 30px;
  cursor: pointer;
  background-color: #2196f3; /* Blue color for the exchange button */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.exchange-button:hover {
  background-color: #1565c0; /* Darker blue color on hover */
}
/* Add these styles for the new amount label and input */
.amount {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.amount-label {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

.amount-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
